<h1>Welcome to the store</h1>
<p>This extension illustrates the use of extensions as themes in spree. 
  This paragraph is contained with in a partial template which is inserted
  into this page using hooks.</p>

