@import "_reset";
@import "_typography";
@import "_layout";
@import "_navigation";
@import "_prices";
@import "_registration";
@import "_messages";
@import "_buttons";
@import "_product_lists";
@import "_product_details";
@import "_cart";
@import "_checkout";


body {
  background: #fff url(../images/bg_header.png) top left repeat-x;
  margin-top:0;
}
#header {
  margin-bottom:10px;
}
